.detailsForm-container {
  padding: 20px;
  border-bottom: 1px solid #2a2a30;
}

.detailsForm-input {
  background-color: var(--secondary-background-color);
  border: none;
  color: var(--primary-color);
}

.detailsForm-input::placeholder {
  color: #d2d2d24d;
  opacity: 1;
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
}

.detailsForm-input:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  background-color: var(--secondary-background-color);
  color: var(--primary-color);
}
